// ------------------------------------------------------------ DARK GREY SHADES
$grey-100: hsla(189.47,61.29%,18.24%, 1);
$grey-70: hsla(189.47,61.29%,18.24%, .7);
$grey-40: hsla(189.47,61.29%,18.24%, .4);
$grey-10: hsla(189.47,61.29%,18.24%, .1);

// --------------------------------------------------------------- YELLOW SHADES
$dark-yellow: hsla(52.7,98.29%,22.94%, 1);
$golden-yellow: hsla(45.77,100%,42.16%, 1);
$yellow-100: hsla(48.76,100%,49.22%, 1);
$yellow-70: hsla(48.76,100%,49.22%, .7);
$yellow-40: hsla(48.76,100%,49.22%, .4);
$yellow-10: hsla(48.76,100%,49.22%, .1);

// ---------------------------------------------------------------------- ORANGE

$orange: hsl(37.15,99.17%,47.25%);

// ------------------------------------------------------------------------- RED

$red: hsl(0,100%,49.8%);

