@import 'colors.scss';


#section-1 {
  h1 {
    width: 100%;
    max-width: 100%;
  }

  .row {
    flex-wrap: wrap;
  }

  form {
    display: flex;
    flex-direction: column;
    border: $grey-100 1px solid;
    padding: 20px;
    margin: auto;
    height: max-content;

    @media screen and (min-width: 1024px) {
      width: 50%;
    }

    @media screen and (max-width: 1023px) {
      width: 80%;
    }

    label,
    input {
      width: 100%;
      margin: 10px auto;
    }

    input[type="submit"] {
      text-align: center;
    }
  }

  input {
    padding: 10px;
    margin: 10px;
  }

  .error {
    color: red;

  }
}