@import 'colors.scss';

@media screen and (min-width: 520px) {
  .mobile_only {
    display: none;
  }
}

@media screen and (max-width: 519px) {
  .desktop_only {
    display: none;
  }
}

header {
  position: relative;
}

.logout {
  position: absolute;
  bottom: 0;
  right: 0;

  p {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: .5em;
  }
}


// DYNAMIC DISPLAY MENU
.active {
  background-color: $yellow-100;
  font-weight: bold;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

// ASIDE MENU
.bloc-4 {
  height: 100%;
  margin-top: 1em;

  ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  li {
    padding: 1em;
    border: 1px solid $grey-70;
  }

  li:hover {
    cursor: pointer;
  }
}

// DETAILS DISPLAY SELECTOR
.bloc-3-4 {
  &>* {
    display: none;
  }

  &.garage>.garage,
  &.employee>.employee,
  &.messages>.messages,
  &.comments>.comments,
  &.cars>.cars {
    display: block;
  }

  form {
    // display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
  }

  fieldset {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }



  label {
    width: 50%;
    max-width: 50%;
    display: inline-block;
    padding: 5px;


    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $grey-70;
    }
  }

  .button {
    width: max-content;
    height: max-content;
    align-self: center;
    border: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    tr {
      height: 2em;
    }

    th,
    td {
      border: 1px solid $grey-70;
      padding: 0 1em;
      width: auto;
    }

    .center {
      text-align: center;
    }

    svg {
      max-width: 50%;
      cursor: pointer;
    }
  }
}

#opening_setting {
  p {
    width: 100%;
    text-align: center;

    span {
      display: inline-block;
      width: 12%;
      text-align: right;
    }

    label {
      width: 20%;
      font-size: .7em;

      input {
        width: 100%;
      }
    }

  }

}