@import 'colors.scss';

@media screen and (min-width: 520px) {
  .mobile_only {
    display: none;
  }
}

@media screen and (max-width: 519px) {
  .desktop_only {
    display: none;
  }

  .mobile_only {
    padding: 0 1em;
  }
}

header {
  position: relative;
  z-index: 1;
}

.logout {
  // position: absolute;
  top: 50%;
  right: 0;

  @media screen and (max-width: 519px) {
    max-width: 55%;
  }

  p {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: .5em;
  }
}

// DYNAMIC DISPLAY MENU
.active {
  background-color: $yellow-100;
  font-weight: bold;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

// ASIDE MENU
.bloc-4 {
  height: 100%;
  margin-top: 1em;
  position: static;

  @media screen and (min-width: 1024px) {
    // transform: translateY(-50%);
    position: sticky;
    top: 0;
  }

  ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  li {
    padding: 1em;
    border: 1px solid $grey-70;
  }

  li:hover {
    cursor: pointer;
  }
}

// DETAILS DISPLAY SELECTOR
.bloc-3-4 {
  &>* {
    display: none;
  }

  &.garage>.garage,
  &.employees>.employees,
  &.messages>.messages,
  &.comments>.comments,
  &.cars>.cars {
    display: block;
  }

  form {
    // display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;

    .requirements {
      font-size: 14px;
      color: $grey-70;
      font-style: italic;
    }
    img {
      max-width: 150px;
    }
  }

  fieldset {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  label {
    width: 50%;
    max-width: 50%;
    display: inline-block;
    padding: 5px;


    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $grey-70;
    }
  }

  .service_style {

    label,
    textarea {
      width: 100%;
      max-width: 100%;
      padding: 10px;
    }

    textarea {
      height: 200px;

    }

    input {
      width: 50%;
    }
  }

}

.button {
  width: max-content;
  height: max-content;
  align-self: center;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  tr {
    height: 2em;
  }

  th,
  td {
    border: 1px solid $grey-70;
    padding: 0 1em;
    width: auto;
  }

  .center {
    text-align: center;
  }

  span {
    max-width: 45%;
    display: inline-block;

    svg {
      cursor: pointer;
      width: 100%;
    }

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}


.comments {
  .save {
    fill: green;
  }

  .cancel {
    fill: $red;
  }

  .checked .save {
    display: none;
  }
}

#opening_setting {
  .warning {
    color: $grey-70;
    background: $yellow-10;
    padding: 1em;
    border: 1px solid $yellow-100;
    border-radius: 5px;
    margin-top: -1em;
    font-size: .8em;
    margin-bottom: 1em;
    text-align: left;
  }

  p {
    width: 100%;
    text-align: center;

    span {
      display: inline-block;
      width: 12%;
      text-align: right;
    }

    label {
      width: 20%;
      font-size: .7em;

      input {
        width: 100%;
      }
    }
  }
}