.row > *, .row, .container {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
  color: hsl(189.47, 61.29%, 18.24%);
  height: inherit;
}

.container {
  margin: auto;
}
@media screen and (max-width: 519px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 520px) and (max-width: 1023px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1350px;
  }
}

section {
  margin: 50px auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  width: auto;
  float: left;
}

.bloc-2 {
  width: 50%;
}

.bloc-3 {
  width: 33.33333%;
}

.bloc-2-3 {
  width: 66.66667%;
}

.bloc-4 {
  width: 25%;
}

.bloc-3-4 {
  width: 75%;
}

.bloc-5 {
  width: 20%;
}

.bloc-2-5 {
  width: 40%;
}

.bloc-3-5 {
  width: 60%;
}

.bloc-4-5 {
  width: 80%;
}

.button {
  padding: 1em 2em;
  border: none;
  background-color: hsl(48.76, 100%, 49.22%);
  color: hsl(189.47, 61.29%, 18.24%);
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: bold;
  height: auto;
  margin-bottom: 1em;
  margin-top: 0;
}

.row h1 {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 1em;
  font-size: 3em;
  height: auto;
}

header {
  height: 120px;
  text-transform: uppercase;
  background: hsla(189.47, 61.29%, 18.24%, 0.4);
}
header .row > a {
  display: inline-block;
  height: 100%;
  text-align: center;
}
header .row > a p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  height: -moz-max-content;
  height: max-content;
}
header .row a img {
  width: auto;
  height: 60%;
}
header .row {
  align-items: center;
  justify-content: space-between;
}
header .header-nav {
  height: auto;
  align-self: center;
}
header ul {
  display: flex;
}
@media screen and (min-width: 1024px) {
  header ul {
    gap: 20px;
  }
}
@media screen and (max-width: 1023px) {
  header ul {
    display: flex;
    gap: 0;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
header li {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px hsl(48.76, 100%, 49.22%);
}
@media screen and (min-width: 1024px) {
  header li {
    aspect-ratio: 1;
    transition: all 0.5s ease;
    border-radius: 50%;
  }
}
@media screen and (max-width: 1023px) {
  header li {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    border-radius: 0;
    background: hsl(48.76, 100%, 49.22%);
    aspect-ratio: auto;
    padding: 1em;
    border-bottom: 2px solid hsla(189.47, 61.29%, 18.24%, 0.1);
  }
  header li:last-of-type {
    border: none;
  }
}
header li a {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
header li p {
  height: auto;
  color: hsl(189.47, 61.29%, 18.24%);
  font-weight: bold;
  font-size: 1em;
  transition: all 0.5s ease;
}
header li svg {
  max-width: 20px;
  fill: hsl(189.47, 61.29%, 18.24%);
  transition: all 0.5s ease;
}
header li:hover {
  background: hsla(48.76, 100%, 49.22%, 0.7);
  transition: all 0.5s ease;
}
header li:hover p,
header li:hover svg {
  color: hsl(189.47, 61.29%, 18.24%);
  fill: hsl(189.47, 61.29%, 18.24%);
  transition: all 0.5s ease;
}
@media screen and (max-width: 1023px) {
  header .hidden {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  header .menu {
    border: none;
    background: none;
    height: auto;
    padding: 0;
  }
  header .menu svg {
    fill: #fff;
  }
}
@media screen and (min-width: 1024px) {
  header .menu {
    display: none;
  }
}

footer {
  background: hsla(189.47, 61.29%, 18.24%, 0.4);
  padding: 2em 0;
  position: relative;
}
footer * {
  color: hsl(189.47, 61.29%, 18.24%);
  text-align: center;
}
footer .row {
  justify-content: space-between;
}
footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .copyrights {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}
footer .copyrights * {
  color: hsla(189.47, 61.29%, 18.24%, 0.4);
  transition: all 0.25s ease;
}
footer .copyrights a:hover {
  color: hsl(189.47, 61.29%, 18.24%);
  text-decoration: underline;
  transition: all 0.25s ease;
}
footer .contact-button {
  font-size: 1.5em;
  padding: 1em 2em;
  margin-bottom: 1em;
}
footer .phone {
  font-size: 3em;
  font-weight: bold;
}

.slick-slider,
.slick-list {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}

label {
  width: 50%;
  max-width: 50%;
  display: inline-block;
  padding: 5px;
}
label input {
  width: 100%;
  padding: 10px;
  border: 1px solid hsla(189.47, 61.29%, 18.24%, 0.7);
}

label[for=message] {
  max-width: 100%;
  width: 100%;
}
label[for=message] textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid hsla(189.47, 61.29%, 18.24%, 0.7);
}

.tos {
  color: hsla(189.47, 61.29%, 18.24%, 0.7);
  width: auto;
  max-width: 100%;
}
.tos input {
  width: auto;
  vertical-align: baseline;
}
.tos a {
  font-weight: bold;
  color: hsl(189.47, 61.29%, 18.24%);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: hsla(189.47, 61.29%, 18.24%, 0.4);
}

input::placeholder,
textarea::placeholder {
  color: hsla(189.47, 61.29%, 18.24%, 0.4);
}

input:focus,
textarea:focus {
  background: hsla(48.76, 100%, 49.22%, 0.1);
  color: hsl(189.47, 61.29%, 18.24%);
  border: 1px solid hsl(189.47, 61.29%, 18.24%);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input[type=submit] {
  margin-left: 100%;
  transform: translateX(-100%);
}/*# sourceMappingURL=contact_form.css.map */