@import 'colors.scss';

// ---------------------------------------------------------------------- HEADER
// HEADER POSITION ABSOLUTE ONLY FOR HOMEPAGE
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: none;

  a p {
    color: #fff;
  }

  .row li * {
    color: #fff;
    fill: #fff;
  }

  @media screen and (max-width: 1023px) {
    .row li * {
      color: $grey-100
    }
  }
}

#section-1 {
  height: 100vh;
  position: relative;
  margin: 0 auto 120px;

  .container {
    margin: auto;
    // position: absolute;
    // top: 100px;
    // height: 100%;
    // left: 50%;
    // transform: translateX(-50%);
  }

  .row {
    align-items: flex-end;
    position: absolute;
    bottom: -100px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  // banner img
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .row h1 {
    padding: 0;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: $yellow-100;
    font-size: 3em;
    color: transparent;
  }

  .show-services {
    width: 100%;
    max-width: 100%;
    height: 350px;

    .slick-track,
    .slick-list {
      height: 100%;
    }
  }

  .services {
    height: 100%;
    background-color: $grey-40;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

    & * {
      height: auto;
      text-align: center;
    }

    h2 {
      color: $yellow-100;
      margin: 0;
    }

    li {
      padding: .3em;
      color: #fff;
    }
  }
}

#section-2 {
  * {
    text-align: center;
  }

  &>.container .row>h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }

  &>.container .row>button {
    width: auto;
    margin: auto;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 1em;

    &:hover {
      font-weight: bold;
    }
  }

  .comments-slider {
    margin: 1.5em auto;
  }

  .comment-note svg {
    fill: $yellow-100;
    width: 40px;
    margin: 0 -5px;
  }

  .comment-text {
    font-weight: normal;
    padding: 0 5px;
    text-transform: lowercase;
    word-wrap: break-word;
  }

  // new comment start
  #add-comment {
    border: none;
    background: none;
  }

  #new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em auto;

    h2 {
      margin-bottom: 1em;
    }

    &.hidden {
      display: none;
    }

    &>* {
      width: 50%;
      max-width: 400px;
      text-align: left;
    }

    label>input,
    label>textarea,
    fieldset {
      width: 100%;
      text-align: left;
      padding: 1em;
      margin-bottom: 1em;

    }

    fieldset {
      display: flex;
      justify-content: space-between;
      position: relative;
      border: none;

      legend {
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
      }

    }

  }

  #add-comment:hover {
    text-decoration: underline;
  }
}