@import 'colors.scss';

// ---------------------------------------------------------------------- HEADER
// HEADER POSITION ABSOLUTE ONLY FOR HOMEPAGE
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: none;

  a p {
    color: #fff;
  }

  .row li * {
    color: #fff;
    fill: #fff;
  }

  @media screen and (max-width: 1023px) {
   .row li * {
      color: $grey-100
    } 
  }
}



#section-1 {
  height: 100vh;
  position: relative;
  margin: 0 auto 120px;

  .container {
    position: absolute;
    top: 100px;
    margin: auto;
    // background: red;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .row {
    align-items: flex-end;
  }

  // banner img
  img {
    object-fit: cover;
    width: 100%;
  }

  .row h1 {
    padding: 0;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $yellow-100;
    font-size: 4em;
    color: transparent;
  }

  .show-services {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 50%;
    max-height: 350px;
  }

  .services {
    height: 100%;
    background-color: $grey-40;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

    & * {
      height: auto;
      text-align: center;
    }

    h2 {
      color: $yellow-100;
      margin: 0;
    }

    li {
      padding: .3em;
      color: #fff;
    }
  }
}

#section-2 {
  * {
    text-align: center;
  }

  .comment-note svg {
    fill: $yellow-100;
    width: 40px;
    margin: 0 -5px;
  }

  .comment-text {
    font-weight: normal;
    padding: 0 5px;
    text-transform: lowercase;
    word-wrap: break-word;
  }
}