@import 'colors.scss';

%padding {
  padding-left: .9em;
  padding-right: .9em;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
  color: $grey-100;
  height: inherit;
}

// ------------------------------------------------------------ GLOBAL STRUCTURE
.container {
  margin: auto;
  @extend %padding;

  @media screen and (max-width: 519px) {
    width: 100%;
  }

  @media screen and (min-width: 520px) and (max-width: 1023px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 90%;
    max-width: 1350px;
  }
}

section {
  margin: 50px auto;
}

.row {
  width: 100%;
  @extend %padding;
  display: flex;
  flex-wrap: wrap;

  // ------------------------------------------------------------------------------- WIDTH AUTO FOR EACH .ROW CHILDREN ‼️
  &>* {
    width: auto;
    float: left;
    @extend %padding;
  }
}

.bloc-2 {
  width: 50%;
}

.bloc-3 {
  width: 33.33333%;
}

.bloc-2-3 {
  width: 66.66667%;
}

.bloc-4 {
  width: 25%;
}

.bloc-3-4 {
  width: 75%;
}

.bloc-5 {
  width: 20%;
}

.bloc-2-5 {
  width: 40%;
}

.bloc-3-5 {
  width: 60%;
}

.bloc-4-5 {
  width: 80%;
}


.button {
  padding: 1em 2em;
  border: none;
  background-color: $yellow-100;
  color: $grey-100;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

}

// ----------------------------------------------------------------------- TEXTS

// ---------------------------------------------------------------------- TITLES
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: bold;
  height: auto;
  margin-bottom: 1em;
  margin-top: 0;
}

.row h1 {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 1em;
  font-size: 3em;
  height: auto;
}


// ---------------------------------------------------------------------- HEADER
header {
  height: 120px;
  text-transform: uppercase;
  background: $grey-40;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 2;

  .row>a {
    display: inline-block;
    height: 100%;
    text-align: center;

    p {
      text-align: center;
      font-weight: bold;
      font-size: 1.2em;
      height: max-content;
    }
  }

  .row a img {
    width: auto;
    height: 60%;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  .header-nav {
    height: auto;
    align-self: center;
  }

  ul {
    display: flex;

    @media screen and (min-width: 1024px) {
      gap: 20px;
    }

    @media screen and (max-width: 1023px) {
      display: flex;
      gap: 0;
      flex-direction: column;
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }

  li {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px $yellow-100;

    @media screen and (min-width: 1024px) {
      aspect-ratio: 1;
      transition: all .5s ease;
      border-radius: 50%;
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      height: max-content;
      border-radius: 0;
      background: $yellow-100;
      aspect-ratio: auto;
      padding: 1em;
      border-bottom: 2px solid $grey-10;

      &:last-of-type {
        border: none;
      }

    }

    a {
      display: inline-flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    p {
      height: auto;
      color: $grey-100;
      font-weight: bold;
      font-size: 1em;
      transition: all .5s ease;
    }

    svg {
      max-width: 20px;
      fill: $grey-100;
      transition: all .5s ease;
    }

    &:hover {
      background: $yellow-70;
      transition: all .5s ease;

      p,
      svg {
        color: $grey-100;
        fill: $grey-100;
        transition: all .5s ease;
      }
    }
  }


  .hidden {
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  .menu {
    @media screen and (max-width: 1023px) {
      border: none;
      background: none;
      height: auto;
      padding: 0;

      svg {
        fill: #fff;
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}



// ---------------------------------------------------------------------- FOOTER
footer {
  background: $grey-40;
  padding: 2em 0;
  position: relative;

  * {
    color: $grey-100;
    text-align: center;
  }

  .row {
    justify-content: space-between;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .copyrights {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;

    * {
      color: $grey-40;
      transition: all .25s ease;
    }

    a:hover {
      color: $grey-100;
      text-decoration: underline;
      transition: all .25s ease;
    }
  }

  .contact-button {
    font-size: 1.5em;
    padding: 1em 2em;
    margin-bottom: 1em;
  }

  .phone {
    font-size: 3em;
    font-weight: bold;
  }
}


// ---------------------------------------------------------------- SLIDER SLICK
.slick-slider,
.slick-list {
  width: 100%;
  height: 100%;
}