@import 'colors.scss';

#section-1 {
  svg {
    width: 20px;
    vertical-align: middle;
  }

  .row a {
    height: max-content;
  }

  .row a:hover {
    text-decoration: underline;
  }

  .bloc-2 {
    height: 300px;

    &:last-child {
      @media screen and (max-width:1023px) {
        margin-top: 1em;
      }

      #form_call {
        margin: 1em auto;
      }
    }

    .main-picture,
    .picture-min {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .picture-min {
      // object-fit: contain;

      .slick-track {
        display: flex;
        justify-content: space-between;

        img {
          max-width: 20%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }

  .form_wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $grey-70 0 0 5em;
    border-radius: 5px;
    width: 95vw;
    height: max-content;
    max-width: 1000px;
    z-index: 2;
    border: 1px solid $grey-100;
    background: #fff;

    @media screen and (min-width: 1024px) {
      padding: 2em;
    }

    @media screen and (max-width: 1023px) {
      padding: 1em;
    }

    .close {
      border: none;
      background: none;

      svg {
        cursor: pointer;
      }
    }

    form {
      height: max-content;
      width: 80%;
      margin: auto;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      background: #fff;
    }

    &.hidden {
      display: none;
    }
  }
}